.comments__container {
    width: 100%;
    display: flex;
    margin: 72px 0 0;
}

@media (max-width:1023px) {
    .comments__container {
        flex-direction: column;
        align-items: center;
        
    }
}