.cover__subtitle {
    max-width: 382px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    margin: 134px auto 48px;
    position: relative;
    z-index: 3;
}
@media (max-width : 1023px) {
	.cover__subtitle {
        margin: 45px auto 40px;
    }
}

@media (max-width : 767px) {
	.cover__subtitle {
        font-size: 14px;
        line-height: 17px;
        margin: 7px auto 24px;
        width: 80%;
    }
}

@media (max-width : 374px) {
	.cover__subtitle {
        width: 90%;
    }
}