.page__footer {
    margin: 160px auto 0 ;
}

@media (max-width:1023px) {
    .page__footer {
        margin: 102px auto 0 ;
    }
}

@media (max-width:767px) {
    .page__footer {
        margin: 64px auto 0 ;
    }
}